In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib

In [2]:
df=pd.read_csv('exercise_dataset.csv')

In [3]:
df.head()

,ID,Exercise,Calories Burn,Dream Weight,Actual Weight,Age,Gender,Duration,Heart Rate,BMI,Weather Conditions,Exercise Intensity
0,1,Exercise 2,286.959851,91.892531,96.301115,45,Male,37,170,29.426275,Rainy,5
1,2,Exercise 7,343.453036,64.165097,61.104668,25,Male,43,142,21.286346,Rainy,5
2,3,Exercise 4,261.223465,70.846224,71.766724,20,Male,20,148,27.899592,Cloudy,4
3,4,Exercise 5,127.183858,79.477008,82.984456,33,Male,39,170,33.729552,Sunny,10
4,5,Exercise 10,416.318374,89.960226,85.643174,29,Female,34,118,23.286113,Cloudy,3

In [4]:
df = df.drop('ID', axis=1)

In [5]:
df.head()

,Exercise,Calories Burn,Dream Weight,Actual Weight,Age,Gender,Duration,Heart Rate,BMI,Weather Conditions,Exercise Intensity
0,Exercise 2,286.959851,91.892531,96.301115,45,Male,37,170,29.426275,Rainy,5
1,Exercise 7,343.453036,64.165097,61.104668,25,Male,43,142,21.286346,Rainy,5
2,Exercise 4,261.223465,70.846224,71.766724,20,Male,20,148,27.899592,Cloudy,4
3,Exercise 5,127.183858,79.477008,82.984456,33,Male,39,170,33.729552,Sunny,10
4,Exercise 10,416.318374,89.960226,85.643174,29,Female,34,118,23.286113,Cloudy,3

In [6]:
df['Gender']=df['Gender'].apply(lambda x: 1 if x=='Male' else 0)

In [7]:
df.head()

,Exercise,Calories Burn,Dream Weight,Actual Weight,Age,Gender,Duration,Heart Rate,BMI,Weather Conditions,Exercise Intensity
0,Exercise 2,286.959851,91.892531,96.301115,45,1,37,170,29.426275,Rainy,5
1,Exercise 7,343.453036,64.165097,61.104668,25,1,43,142,21.286346,Rainy,5
2,Exercise 4,261.223465,70.846224,71.766724,20,1,20,148,27.899592,Cloudy,4
3,Exercise 5,127.183858,79.477008,82.984456,33,1,39,170,33.729552,Sunny,10
4,Exercise 10,416.318374,89.960226,85.643174,29,0,34,118,23.286113,Cloudy,3

In [8]:
df['Exercise'] = df['Exercise'].str.slice(9)

In [9]:
df.head()

,Exercise,Calories Burn,Dream Weight,Actual Weight,Age,Gender,Duration,Heart Rate,BMI,Weather Conditions,Exercise Intensity
0,2,286.959851,91.892531,96.301115,45,1,37,170,29.426275,Rainy,5
1,7,343.453036,64.165097,61.104668,25,1,43,142,21.286346,Rainy,5
2,4,261.223465,70.846224,71.766724,20,1,20,148,27.899592,Cloudy,4
3,5,127.183858,79.477008,82.984456,33,1,39,170,33.729552,Sunny,10
4,10,416.318374,89.960226,85.643174,29,0,34,118,23.286113,Cloudy,3

In [10]:
dummies=pd.get_dummies(df['Weather Conditions'])

In [11]:
dummies

      Cloudy  Rainy  Sunny
0      False   True  False
1      False   True  False
2       True  False  False
3      False  False   True
4       True  False  False
...      ...    ...    ...
3859    True  False  False
3860   False   True  False
3861   False   True  False
3862   False   True  False
3863   False   True  False

[3864 rows x 3 columns]

In [12]:
df = df.drop('Weather Conditions', axis=1)

In [13]:
df.head()

,Exercise,Calories Burn,Dream Weight,Actual Weight,Age,Gender,Duration,Heart Rate,BMI,Exercise Intensity
0,2,286.959851,91.892531,96.301115,45,1,37,170,29.426275,5
1,7,343.453036,64.165097,61.104668,25,1,43,142,21.286346,5
2,4,261.223465,70.846224,71.766724,20,1,20,148,27.899592,4
3,5,127.183858,79.477008,82.984456,33,1,39,170,33.729552,10
4,10,416.318374,89.960226,85.643174,29,0,34,118,23.286113,3

In [14]:
fdf=pd.concat([df,dummies],axis='columns')

In [15]:
fdf.head()

,Exercise,Calories Burn,Dream Weight,Actual Weight,Age,Gender,Duration,Heart Rate,BMI,Exercise Intensity,Cloudy,Rainy,Sunny
0,2,286.959851,91.892531,96.301115,45,1,37,170,29.426275,5,False,True,False
1,7,343.453036,64.165097,61.104668,25,1,43,142,21.286346,5,False,True,False
2,4,261.223465,70.846224,71.766724,20,1,20,148,27.899592,4,True,False,False
3,5,127.183858,79.477008,82.984456,33,1,39,170,33.729552,10,False,False,True
4,10,416.318374,89.960226,85.643174,29,0,34,118,23.286113,3,True,False,False

In [16]:
fdf=fdf.drop('Sunny', axis=1)

In [17]:
fdf.head()

,Exercise,Calories Burn,Dream Weight,Actual Weight,Age,Gender,Duration,Heart Rate,BMI,Exercise Intensity,Cloudy,Rainy
0,2,286.959851,91.892531,96.301115,45,1,37,170,29.426275,5,False,True
1,7,343.453036,64.165097,61.104668,25,1,43,142,21.286346,5,False,True
2,4,261.223465,70.846224,71.766724,20,1,20,148,27.899592,4,True,False
3,5,127.183858,79.477008,82.984456,33,1,39,170,33.729552,10,False,False
4,10,416.318374,89.960226,85.643174,29,0,34,118,23.286113,3,True,False

In [18]:
df['Exercise'] = df['Exercise'].astype(int)

In [19]:
target=df['Exercise']

In [20]:
target.head()

0     2
1     7
2     4
3     5
4    10
Name: Exercise, dtype: int32

In [21]:
x=fdf.copy()
x = x.drop('Exercise', axis=1)

In [22]:
x.head()

,Calories Burn,Dream Weight,Actual Weight,Age,Gender,Duration,Heart Rate,BMI,Exercise Intensity,Cloudy,Rainy
0,286.959851,91.892531,96.301115,45,1,37,170,29.426275,5,False,True
1,343.453036,64.165097,61.104668,25,1,43,142,21.286346,5,False,True
2,261.223465,70.846224,71.766724,20,1,20,148,27.899592,4,True,False
3,127.183858,79.477008,82.984456,33,1,39,170,33.729552,10,False,False
4,416.318374,89.960226,85.643174,29,0,34,118,23.286113,3,True,False

In [23]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,target,test_size=0.2)

In [24]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(x_train,y_train)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [25]:
model.predict(x_test)

array([10,  5,  1,  1,  5, 10,  9,  1,  5,  4,  5,  1,  1,  1,  5, 10,  5,
       10,  1, 10,  1,  9,  9,  7,  5,  1,  1,  7, 10,  5,  1,  5,  5,  5,
       10,  5,  7,  4, 10,  5,  1,  5, 10,  6,  8,  6,  5,  6,  5,  1,  5,
        5,  5,  1,  5,  7,  5,  9,  5,  1,  9,  5, 10,  5,  5, 10,  6,  1,
        1,  5,  6,  1,  5,  8, 10, 10,  6,  4,  5,  9,  1,  5,  1,  5,  7,
        6,  5,  1,  5,  8, 10,  5,  4,  8,  9,  5,  1,  9, 10,  4,  1, 10,
       10,  5, 10,  6,  5,  9,  4,  5, 10,  4,  8,  4,  4, 10,  4,  5,  5,
       10,  5,  5, 10, 10,  6,  6,  1,  4,  5,  1, 10,  9,  5,  7,  2,  1,
        4, 10,  8,  8,  5,  4,  5,  6,  5,  1,  9,  1,  1,  6,  9,  1, 10,
        1,  9,  4,  7,  1, 10,  6,  7,  5,  9,  4,  5,  5,  5,  5, 10,  5,
        5,  5,  3,  4,  7,  1,  1,  5,  1, 10, 10,  8,  5,  8,  5, 10,  6,
        1,  3, 10,  5,  9,  6,  5,  5,  7,  1,  5,  7, 10,  5,  5,  5,  4,
        1,  9,  5,  9,  1,  4,  5, 10,  7,  4,  1,  6,  5,  5,  4, 10,  1,
        4,  7,  5,  8,  4,  5, 10,  9, 10,  6,  1, 10,  8,  5,  1,  5, 10,
        6,  8,  5,  6,  5,  8,  5, 10,  4,  9,  6,  8,  4, 10,  4,  9,  7,
        1,  7,  5,  1,  5,  1,  5,  4, 10, 10,  5,  8,  5,  4,  8, 10,  5,
       10,  9,  1,  1,  5, 10,  5,  1,  5, 10,  5,  1,  7,  5,  5,  6,  5,
        7, 10,  8,  6,  4,  5, 10,  1,  7,  4,  4,  5,  1,  6, 10,  9,  1,
        5,  1,  1,  5, 10,  5, 10,  5,  7, 10, 10,  5,  5,  9,  9,  8,  5,
        5,  5,  5, 10,  5,  1, 10,  5,  5,  9,  1,  5,  5,  4, 10,  7,  9,
        4,  5,  4,  4,  4,  6,  4,  7,  5,  7,  9, 10,  6,  7,  4,  5,  5,
        1,  9, 10,  1,  5,  6,  1,  5,  8,  5,  3,  5,  5,  5,  1, 10,  7,
        5,  8,  8, 10,  7, 10,  1,  1,  3,  9,  5,  5,  1,  4, 10,  6,  6,
        7,  1,  9,  5,  9, 10,  6,  7,  6,  5,  5,  9,  1,  7,  5,  6, 10,
        9,  5,  4,  5,  9,  8,  7,  9,  5, 10,  6,  4,  5,  1,  7,  5,  5,
        5, 10,  6,  8,  7,  9,  1,  5,  4,  8,  7,  9,  7,  7,  5,  1,  6,
        5,  4,  7,  4,  5,  6,  5,  5,  1,  4,  4,  4,  7, 10,  1, 10,  4,
        1,  5,  4,  7,  6,  9,  5,  5,  9,  6,  1,  7,  5,  5,  1,  5, 10,
        4,  7,  4,  7,  9,  8,  4, 10,  7,  7,  1,  1, 10,  1,  4,  1,  7,
        5,  5,  9,  9,  5,  7,  6, 10,  7,  1,  7,  7,  7,  4,  6,  7,  7,
        6,  1,  4,  5, 10, 10,  4,  6,  1,  4,  4,  5,  8,  9,  5,  9,  4,
       10,  9, 10,  4, 10,  8,  8,  5,  1,  1,  7,  9,  5, 10,  5,  5,  4,
        6,  1, 10,  5,  5,  9,  7,  5,  5,  6,  8,  4,  6, 10,  7,  7,  4,
        7,  4,  1,  5,  1,  1,  7,  5,  2,  6,  6, 10,  5,  6,  5,  8,  8,
        8,  5,  9,  7,  5,  8,  7,  4,  7,  4,  4,  5,  4,  7,  5, 10,  9,
        1,  5,  7,  5,  1,  1,  4,  7,  1,  5,  4,  1,  5,  5,  9,  5,  9,
        9,  9,  5,  8,  5,  7,  4,  1, 10,  5,  5,  1,  7,  5,  4,  7,  1,
        5,  6, 10, 10,  5,  4,  1, 10,  5,  6,  5,  6,  1,  5,  6, 10,  8,
        5,  4,  9,  8,  8,  6,  5, 10,  6, 10,  5,  7,  5,  1,  5,  4,  5,
       10,  4,  5,  4,  1,  4,  4,  1,  5,  5,  5,  7,  4,  8, 10,  1,  8,
       10,  6,  9,  8,  5,  5, 10,  6, 10,  8,  6,  1,  4,  1,  5,  4,  9,
        5,  5,  5,  1,  6,  1, 10,  7,  8,  5,  1,  7,  5,  5,  1,  5,  1,
        5,  5,  5,  3,  3,  5,  1,  4,  5,  8,  9,  5, 10,  5,  8,  1, 10,
        5,  6,  5, 10,  7,  8,  5,  7, 10,  4,  8,  9,  5,  4,  5,  1,  9,
        1,  5,  9,  1,  5,  7,  5,  5, 10,  5,  4, 10, 10,  9,  7,  4,  1,
        9,  7,  5,  8,  9,  7,  3,  7])

In [26]:
model.score(x_test,y_test)

0.09961190168175937

In [32]:
testset=[[343,70,71,20,1,20,148,28,4,1,0]]

In [33]:
model.predict(testset)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([5])

In [34]:
import pickle
with open('Exercise_model.pickle','wb') as f:
    pickle.dump(model,f)