In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib

In [15]:
df=pd.read_csv('exercise_dataset.csv')

In [16]:
df.head()

,ID,Exercise,Calories Burn,Dream Weight,Actual Weight,Age,Gender,Duration,Heart Rate,BMI,Weather Conditions,Exercise Intensity
0,1,Exercise 2,286.959851,91.892531,96.301115,45,Male,37,170,29.426275,Rainy,5
1,2,Exercise 7,343.453036,64.165097,61.104668,25,Male,43,142,21.286346,Rainy,5
2,3,Exercise 4,261.223465,70.846224,71.766724,20,Male,20,148,27.899592,Cloudy,4
3,4,Exercise 5,127.183858,79.477008,82.984456,33,Male,39,170,33.729552,Sunny,10
4,5,Exercise 10,416.318374,89.960226,85.643174,29,Female,34,118,23.286113,Cloudy,3

In [17]:
df = df.drop('ID', axis=1)

In [18]:
df.head()

,Exercise,Calories Burn,Dream Weight,Actual Weight,Age,Gender,Duration,Heart Rate,BMI,Weather Conditions,Exercise Intensity
0,Exercise 2,286.959851,91.892531,96.301115,45,Male,37,170,29.426275,Rainy,5
1,Exercise 7,343.453036,64.165097,61.104668,25,Male,43,142,21.286346,Rainy,5
2,Exercise 4,261.223465,70.846224,71.766724,20,Male,20,148,27.899592,Cloudy,4
3,Exercise 5,127.183858,79.477008,82.984456,33,Male,39,170,33.729552,Sunny,10
4,Exercise 10,416.318374,89.960226,85.643174,29,Female,34,118,23.286113,Cloudy,3

In [19]:
df['Gender']=df['Gender'].apply(lambda x: 1 if x=='Male' else 0)

In [20]:
df.head()

,Exercise,Calories Burn,Dream Weight,Actual Weight,Age,Gender,Duration,Heart Rate,BMI,Weather Conditions,Exercise Intensity
0,Exercise 2,286.959851,91.892531,96.301115,45,1,37,170,29.426275,Rainy,5
1,Exercise 7,343.453036,64.165097,61.104668,25,1,43,142,21.286346,Rainy,5
2,Exercise 4,261.223465,70.846224,71.766724,20,1,20,148,27.899592,Cloudy,4
3,Exercise 5,127.183858,79.477008,82.984456,33,1,39,170,33.729552,Sunny,10
4,Exercise 10,416.318374,89.960226,85.643174,29,0,34,118,23.286113,Cloudy,3

In [21]:
df['Exercise'] = df['Exercise'].str.slice(9)

In [22]:
df.head()

,Exercise,Calories Burn,Dream Weight,Actual Weight,Age,Gender,Duration,Heart Rate,BMI,Weather Conditions,Exercise Intensity
0,2,286.959851,91.892531,96.301115,45,1,37,170,29.426275,Rainy,5
1,7,343.453036,64.165097,61.104668,25,1,43,142,21.286346,Rainy,5
2,4,261.223465,70.846224,71.766724,20,1,20,148,27.899592,Cloudy,4
3,5,127.183858,79.477008,82.984456,33,1,39,170,33.729552,Sunny,10
4,10,416.318374,89.960226,85.643174,29,0,34,118,23.286113,Cloudy,3

In [23]:
dummies=pd.get_dummies(df['Weather Conditions'])

In [24]:
dummies

      Cloudy  Rainy  Sunny
0      False   True  False
1      False   True  False
2       True  False  False
3      False  False   True
4       True  False  False
...      ...    ...    ...
3859    True  False  False
3860   False   True  False
3861   False   True  False
3862   False   True  False
3863   False   True  False

[3864 rows x 3 columns]

In [25]:
df = df.drop('Weather Conditions', axis=1)

In [26]:
df.head()

,Exercise,Calories Burn,Dream Weight,Actual Weight,Age,Gender,Duration,Heart Rate,BMI,Exercise Intensity
0,2,286.959851,91.892531,96.301115,45,1,37,170,29.426275,5
1,7,343.453036,64.165097,61.104668,25,1,43,142,21.286346,5
2,4,261.223465,70.846224,71.766724,20,1,20,148,27.899592,4
3,5,127.183858,79.477008,82.984456,33,1,39,170,33.729552,10
4,10,416.318374,89.960226,85.643174,29,0,34,118,23.286113,3

In [27]:
fdf=pd.concat([df,dummies],axis='columns')

In [28]:
fdf.head()

,Exercise,Calories Burn,Dream Weight,Actual Weight,Age,Gender,Duration,Heart Rate,BMI,Exercise Intensity,Cloudy,Rainy,Sunny
0,2,286.959851,91.892531,96.301115,45,1,37,170,29.426275,5,False,True,False
1,7,343.453036,64.165097,61.104668,25,1,43,142,21.286346,5,False,True,False
2,4,261.223465,70.846224,71.766724,20,1,20,148,27.899592,4,True,False,False
3,5,127.183858,79.477008,82.984456,33,1,39,170,33.729552,10,False,False,True
4,10,416.318374,89.960226,85.643174,29,0,34,118,23.286113,3,True,False,False

In [29]:
fdf=fdf.drop('Sunny', axis=1)

In [30]:
fdf.head()

,Exercise,Calories Burn,Dream Weight,Actual Weight,Age,Gender,Duration,Heart Rate,BMI,Exercise Intensity,Cloudy,Rainy
0,2,286.959851,91.892531,96.301115,45,1,37,170,29.426275,5,False,True
1,7,343.453036,64.165097,61.104668,25,1,43,142,21.286346,5,False,True
2,4,261.223465,70.846224,71.766724,20,1,20,148,27.899592,4,True,False
3,5,127.183858,79.477008,82.984456,33,1,39,170,33.729552,10,False,False
4,10,416.318374,89.960226,85.643174,29,0,34,118,23.286113,3,True,False

In [35]:
df['Exercise'] = df['Exercise'].astype(int)

In [36]:
target=df['Exercise']

In [37]:
target.head()

0     2
1     7
2     4
3     5
4    10
Name: Exercise, dtype: int32

In [38]:
x=fdf.copy()
x = x.drop('Exercise', axis=1)

In [39]:
x.head()

,Calories Burn,Dream Weight,Actual Weight,Age,Gender,Duration,Heart Rate,BMI,Exercise Intensity,Cloudy,Rainy
0,286.959851,91.892531,96.301115,45,1,37,170,29.426275,5,False,True
1,343.453036,64.165097,61.104668,25,1,43,142,21.286346,5,False,True
2,261.223465,70.846224,71.766724,20,1,20,148,27.899592,4,True,False
3,127.183858,79.477008,82.984456,33,1,39,170,33.729552,10,False,False
4,416.318374,89.960226,85.643174,29,0,34,118,23.286113,3,True,False

In [41]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,target,test_size=0.2)

In [42]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(x_train,y_train)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [43]:
model.predict(x_test)

array([ 7,  1,  1,  8,  5,  1, 10,  8,  8,  4,  8,  7,  7,  9,  5,  9,  1,
        4,  5,  8, 10,  1,  5,  5,  5,  3, 10,  3,  1,  5,  1,  8,  9,  1,
        7,  4,  5,  7,  7,  1,  8,  8,  7,  1,  1,  8,  5,  5,  9,  8,  5,
        3,  7,  8,  5,  5,  7,  5,  7,  5,  8,  1,  1,  4,  1,  8,  1,  1,
        5,  1,  5,  1,  7,  1,  4,  3,  1,  5,  1,  9,  4,  6,  7,  7,  9,
        9,  9,  1,  1,  1,  8,  5,  5,  5,  4,  1,  4,  9, 10,  1,  5,  8,
        4,  8,  1,  7,  1,  8,  4,  5,  9,  1,  4,  9,  9,  3,  4,  3,  3,
        1,  5,  1,  9,  7,  1,  1,  9,  8,  5,  7,  5,  1,  1,  4, 10,  4,
        7,  1,  1,  1,  7, 10,  8,  4,  7,  5,  7,  4,  8,  9,  3,  9,  4,
        4,  4,  1,  4,  6,  9,  1,  5,  9,  6,  1,  6,  8,  5,  8,  8,  1,
        8,  8,  4,  7,  5,  1,  3,  8,  7,  4,  4,  4,  3,  1,  5,  5,  7,
        8,  1, 10,  4,  4,  3,  5,  7,  5,  3,  8, 10,  4,  3,  1,  3,  8,
        1,  5,  8,  5,  3,  8,  9,  8,  9,  4,  1,  5,  4,  5,  5,  1,  9,
        1,  8,  9,  6, 10,  4,  7,  7,  5,  9,  8,  3,  5,  1,  7,  3,  9,
        7,  9,  1,  9,  1,  8,  1,  7,  4,  1,  7,  8,  1,  8,  4,  8,  1,
        9,  5,  8,  8,  4,  1,  4,  7,  8,  4,  8,  9,  1,  4,  9,  3,  1,
        5,  4,  9,  3,  1,  8,  4,  8,  1,  9,  1,  8,  8,  5, 10,  1,  1,
        8,  9,  5,  1,  3,  8,  1,  9,  5,  1,  8,  4,  1,  9,  5,  7,  4,
        9,  7,  6,  7,  7,  9,  8,  3,  8,  9, 10,  9,  1,  5,  8,  7,  9,
        5,  4,  1,  9,  1,  5,  4,  9,  7,  5,  4,  8,  4,  1,  1,  1,  8,
        8,  4,  8,  1,  9,  1,  6,  5,  9,  9,  1,  8,  9,  8,  7,  3,  8,
        9,  5,  5,  8,  6,  5,  1,  7,  8,  8,  6,  1,  4,  1,  1,  8,  5,
        8,  5,  5,  8,  5,  5,  9,  4,  1,  4,  8,  1,  5,  5,  8,  8,  5,
        4,  4,  3,  8,  4,  1,  4,  9,  5,  9,  8,  5,  8,  5,  3,  7,  8,
        7,  9,  1,  5,  6,  4,  1,  9,  1,  5,  4,  1,  5,  1,  1,  8,  1,
        9,  1, 10,  1,  3,  1,  8,  4,  1,  4,  7,  1,  4,  9,  9,  9,  5,
        1,  3,  9,  8,  5,  9,  4,  8,  7,  8,  1,  5,  6,  9,  1,  9,  4,
        8, 10,  1,  8,  8,  8,  4, 10,  6,  5,  5,  8,  3,  8,  5,  1,  1,
        9,  4,  1,  1,  1,  9,  1, 10,  8, 10,  8,  8,  1,  1,  5,  9,  7,
        8,  5,  5,  5,  8,  6,  9,  5,  8, 10,  4,  1,  1,  8,  7,  8,  7,
        5,  3,  1,  8,  8,  7,  7,  4,  8,  3,  1,  5,  8,  8,  7,  5,  4,
        8,  1,  8,  8,  1,  6,  1,  3,  9,  4,  1,  1,  1,  7,  5,  1,  7,
        5,  7,  8,  1,  1,  9,  4,  8,  5,  4,  3,  5,  8,  6,  1,  7, 10,
        9,  1,  9,  8,  4,  7,  6,  4,  5,  1, 10,  1,  5,  9,  1,  6,  8,
        9,  4,  9,  5,  1, 10,  3,  6,  4,  4,  4,  8,  9,  8,  7, 10,  8,
        4,  8,  8,  3,  7,  1,  1,  1,  4,  1,  7, 10,  9,  5,  1,  1,  1,
        6,  5,  5,  9,  1,  5,  5,  5,  4,  8,  8,  1,  5,  5,  6,  9,  5,
        5,  9,  5,  8,  4,  1,  6,  1, 10,  9,  5,  1,  1,  4,  9,  4,  5,
        4,  4,  1,  1,  4,  5,  1,  5,  1,  5,  1,  5,  3,  4,  3,  4,  8,
        7,  5,  1,  8,  4,  6,  8,  9,  6,  9,  8,  5,  5,  5,  1,  5,  4,
        9,  1,  4,  5,  1,  7,  4,  9,  8,  4,  3,  8,  1,  5,  5,  1, 10,
        8, 10,  1,  4,  5,  4,  4,  9,  9,  9,  4,  1,  1,  7,  7,  4,  1,
        6,  5,  9,  1,  3,  1,  9,  1,  1,  7,  9,  3,  8,  7,  1,  5,  9,
        1,  9,  4,  5,  1,  5,  4,  6,  8,  1, 10,  4,  1,  9,  7,  1,  9,
        8,  9,  1,  1,  4,  5,  9,  1,  8,  4,  7,  1,  8,  5,  6,  7,  8,
        8,  9,  8,  8,  7,  1,  1,  1])

In [46]:
model.score(x_test,y_test)

0.10090556274256145

In [62]:
from sklearn.ensemble import RandomForestClassifier
model2=RandomForestClassifier(n_estimators=10)
model2.fit(x_train,y_train)

RandomForestClassifier(n_estimators=10)

In [63]:
model2.predict(x_test)

array([ 4,  7,  7,  1,  3,  4, 10,  8,  7,  1,  1,  2, 10,  4,  3,  8,  3,
        2,  1,  4,  7,  4,  3, 10,  3,  6,  4,  1,  4,  3,  1,  2,  7,  8,
        2,  1,  7,  6,  6,  1,  3,  1,  4,  1,  4,  4,  3,  3,  1,  2, 10,
        5,  1,  5,  1,  1,  9,  3,  6,  8,  2,  3,  5,  2,  4,  4,  5,  2,
        3,  4,  1,  9,  5,  4,  7,  6,  8,  5,  1,  9,  2,  4,  1,  7,  7,
        7,  2,  5,  8,  9,  1,  1,  1,  7,  1,  5, 10,  5,  1,  8,  7,  8,
        8,  1,  1,  8,  6,  3,  5,  9,  1,  4,  3,  3,  1,  9,  1,  1,  5,
        7,  4,  3,  1,  5,  2,  2,  8,  1, 10,  9,  2,  1,  5,  5,  5,  2,
        6,  3,  1,  9,  1,  3,  5,  1,  4,  3,  1,  6,  5,  8,  2,  2,  4,
       10,  1,  8,  2,  1,  4,  1,  6,  2,  6,  4,  5,  9,  9,  5,  5,  4,
        1,  3,  2,  3,  3,  5,  2,  3,  9,  2,  9, 10,  2,  3,  8,  4,  5,
        3,  1,  3,  1,  4,  9, 10,  4,  1,  3,  3,  4,  2,  1,  4,  4,  5,
        1,  2,  8,  2,  8,  1,  7,  5,  8, 10,  1,  2,  4,  5,  4,  4,  4,
        8,  1,  1,  1, 10,  8,  2,  1,  1,  2, 10,  3,  5,  2,  7,  3,  5,
        6,  4,  1,  1,  1,  3,  7,  9,  3,  8,  2,  9,  2,  4,  2,  1,  1,
        6,  3,  4,  6,  1, 10,  3,  7,  5,  9,  8,  5,  9,  6,  1,  1,  7,
        5,  6,  2,  3,  1,  7,  2,  1,  4,  5,  8,  1,  4,  3,  5,  8,  5,
        3,  4,  2,  5,  3,  7,  5, 10,  5,  2,  1,  5, 10,  1,  8,  1,  3,
        1,  5,  8,  7,  2,  5,  1,  1,  3,  4,  5,  9,  1,  9,  5,  7,  7,
       10,  3,  1,  7,  1,  2,  4,  7,  5,  5,  5,  1,  3,  1,  9,  1,  2,
        3,  3,  5,  4,  7,  6,  6,  1,  2,  3,  4,  4,  1,  1,  1,  7,  2,
        4, 10,  9,  2,  8,  5,  6,  5,  1,  8,  3,  1,  2,  6,  8,  2,  9,
        6,  2,  9,  6,  5,  3,  2,  6,  7,  7,  4,  7,  2, 10,  2,  6,  2,
        1,  1,  3,  1,  4,  1, 10,  5,  1,  9,  1,  6, 10,  5,  3,  2,  7,
        5,  4,  4,  1,  2,  5,  2,  6,  5,  7,  5,  6,  9,  9,  8,  2, 10,
        3,  7,  1,  1,  5,  4,  2,  7,  7,  2,  3,  1, 10,  1,  2,  8,  3,
        1,  3,  1,  7,  5,  1,  5,  8,  3,  3,  2,  3,  7,  8,  5,  3,  2,
        1,  6,  1,  1,  3,  3,  6,  8,  1,  5,  4, 10,  1,  9,  8,  7,  5,
        5,  6,  5,  1,  1,  1,  6,  4,  4, 10,  5,  1,  8,  6, 10,  4,  5,
        2,  2,  1,  2,  2,  8,  5,  3,  1, 10,  1,  1,  1,  4,  7,  3,  2,
        7, 10,  2,  3,  5,  3,  5,  2,  1,  7,  3,  6,  3,  1,  6,  2, 10,
        3,  4, 10, 10,  9,  9,  6,  1,  9,  3,  5,  8,  6,  8,  5,  9,  9,
        7,  3,  3,  7,  9, 10, 10,  2,  6,  6,  1,  5,  8,  2,  5,  1, 10,
        1,  3,  1,  1,  5,  2,  1,  3,  4,  9,  2,  5,  1,  7,  3,  1,  7,
        3,  6,  4,  6,  7,  1,  7,  2,  5,  2,  1,  1,  5,  7,  7,  1, 10,
        2,  1,  4, 10, 10,  8,  9, 10,  5,  2,  6,  1,  4,  4,  2,  8,  8,
        3,  9,  6,  2,  6,  3, 10, 10,  4,  3,  2,  4,  5,  4,  2,  1,  5,
        2,  1,  2,  4,  5,  8,  6,  3, 10,  9,  1,  1,  9,  9,  1,  6,  1,
        2,  5,  7,  4,  2,  4,  6,  9,  7, 10,  5,  1,  1, 10,  2,  6,  2,
        2,  9,  1,  2,  4,  5,  7, 10, 10, 10,  4,  8,  9,  8,  6,  2, 10,
        6,  2,  5, 10,  7,  6,  8,  1,  7, 10,  1,  1,  1,  4,  7,  1,  1,
        8,  1,  1,  8,  3,  7,  2,  1,  1,  2,  1,  3,  9,  5,  4,  7,  5,
       10,  5,  1,  2,  8,  4,  5,  7,  1,  5,  5,  1,  1,  4,  2,  3,  4,
        2,  5,  3,  6,  4,  5,  4,  6,  8, 10,  5,  2,  9,  4,  1,  3,  4,
        2,  4,  1,  6,  7,  5,  4,  1,  9,  9,  7,  1,  9,  2,  1,  1,  5,
        2,  3,  8,  1,  2,  3,  7,  2])

In [65]:
model2.score(x_test,y_test)

0.11772315653298836

In [80]:
testset=[[343,70,71,20,1,20,148,28,4,1,0]]

In [81]:
model.predict(testset)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([9])